:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darkviolet: '#221e2e';
  --greyviolet: '#686674';
  --palegrey: '#565e79';
  --yellow: '#ffbf00';
  --darkyellow: '#fa9f17';
  --darkorange: '#b86200';
  --lightorange: '#ecb76b';
  --white: '#ffffff';
  --borderline: '#4c4a52';
  --greyblue: '#2f3546';
  --lightgreyblue: '#4e5672';
  --red: '#bc3220';
  --gradientred: '#db4a37';
  --lightred: '#fa5846';
  --brightred: '#a91400';
  --palered: '#ff7e6d';
  --borderred: 'b12816';
  --placeholdercolor: '#cfcacad7';
  --cubicbezier: '250ms cubic-bezier(0.4, 0, 0.2, 1)';
  --textshadow: '1px 1px 1px #232323';
}

body {
  margin: 0;
  font-family: 'Courgette', cursive;

  background: linear-gradient(
    135deg,
    rgba(36, 46, 77, 0.9),
    rgba(137, 126, 121, 0.9)
  );
  background-size: 100%;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
